# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# mypy / type checking
.mypy_cache/

# Ruff
.ruff_cache/